.navbar {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  padding-top: 0.6em;
  position: relative;
}
.navbar__container {
  text-align: justify;
  margin: 0 1.5em;
  height: 3em;
}
.navbar__container__title, .navbar__container__menu {
  display: inline-block;
  vertical-align: middle;
}
.navbar__container__title {
  color: #08A6E4;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.3125rem;
}
.navbar__container__menu.hidden {
  display: none;
}
.navbar__container__menu.open {
  width: 20px;
  height: 20px;
}
.navbar__container__menu.close {
  width: 20px;
  height: 20px;
}
.navbar__container:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.navbar__list__menu--desktop {
  display: none;
}
.navbar__list__menu--mobile {
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.205rem;
  list-style-type: none;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  height: auto;
  z-index: 1;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.29);
}
.navbar__list__menu--mobile.opened {
  display: block;
}
.navbar__list__menu__item {
  padding: 0.5em 1.5em;
}
.navbar__list__menu__item:active {
  color: black;
}
.navbar__scrollBar {
  background-color: #07ACE6;
  height: 0.6em;
  width: 0%;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
  .navbar__container {
    text-align: none;
    margin-left: 8%;
    height: 100%;
  }
  .navbar__container__menu {
    display: none;
  }
  .navbar__container::after {
    content: none;
  }
  .navbar__list__menu--mobile {
    display: none;
  }
  .navbar__list__menu--desktop {
    display: flex;
    list-style-type: none;
    gap: 5em;
    margin-right: 8%;
  }
  .navbar__list__menu__link {
    position: relative;
    cursor: pointer;
    color: #A5A5A5;
    text-align: center;
    font-family: "Open Sans";
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.9375rem;
    letter-spacing: 0.205rem;
    transition: all 0.2s;
    padding: 0.5em;
    flex-shrink: 0;
  }
  .navbar__list__menu__link:hover {
    color: black;
  }
  .navbar__list__menu__link::after {
    content: "";
    height: 0.3em;
    width: 100%;
    background-color: #08A6E4;
    position: absolute;
    left: 0;
    bottom: -2.2em;
    opacity: 0;
    transition: all 0.2s;
  }
  .navbar__list__menu__link:hover::after {
    opacity: 1;
  }
}
.intro {
  text-align: center;
  margin: 3.5rem auto 2rem auto;
  font-style: normal;
}
.intro__title {
  color: #000;
  font-family: Raleway;
  font-size: 2.1875rem;
  line-height: normal;
  font-weight: 400;
}
.intro__text {
  color: #000;
  font-family: "Open Sans";
  font-size: 0.9rem;
  line-height: 1.4375rem;
  margin: 1rem 5rem;
}
.intro__button {
  font-weight: 700;
  width: 17em;
  height: 3.9em;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  padding: 4.19px 19.4px;
}

@media only screen and (min-width: 1000px) {
  .intro__title {
    padding-top: 1.3em;
    font-size: 3rem;
  }
  .intro__text {
    font-size: 1rem;
    padding-bottom: 1em;
  }
  .intro__button {
    min-width: 27em;
  }
}
.banner__image {
  height: 227px;
  width: 100%;
  object-fit: cover;
}
.banner__text {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.1875rem;
  margin: 0.5rem 2rem;
}

@media only screen and (min-width: 1000px) {
  .banner__image {
    min-height: 550px;
  }
  .banner__text {
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
}
.statsCards {
  text-align: center;
}
.statsCards__card {
  margin: 1.56em 0 3em 0;
}
.statsCards__card__image {
  position: relative;
  margin-bottom: 0.8rem;
}
.statsCards__card__image--person {
  position: absolute;
  left: 50%;
}
.statsCards__card__image--eye {
  position: absolute;
  left: 50%;
  top: 0.8em;
}
.statsCards__card__image--catalog {
  position: absolute;
  left: 50%;
  top: 10%;
}
.statsCards__card__number {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.5rem;
  letter-spacing: 0.3725rem;
  margin-bottom: 1.15rem;
}
.statsCards__card__description {
  color: #A5A5A5;
  text-align: center;
  font-family: Raleway;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  width: 7em;
  margin: auto 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1000px) {
  .statsCards {
    display: flex;
    margin: auto 15%;
    justify-content: space-evenly;
    margin-bottom: 5em;
  }
}
.productCards {
  background-color: #F7F7F7;
  padding: 0.5em 1.2em;
}
.productCards__container {
  background-color: white;
  margin: 2.5em auto;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background: #FFF;
}
.productCards__container__card {
  margin: auto 1.5rem;
  padding: 1.5em 0;
  text-align: center;
  position: relative;
}
.productCards__container__card__image--laptop {
  position: relative;
  top: 2em;
  z-index: 1;
  margin-bottom: 1.5em;
}
.productCards__container__card__image--mobile {
  position: relative;
  left: 1.5rem;
  z-index: 1;
}
.productCards__container__card__image--pink {
  position: absolute;
  left: 50%;
  top: 0em;
}
.productCards__container__card__image--blue {
  width: 125px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.productCards__container__card__title {
  color: #000;
  font-family: Raleway;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
  text-align: left;
  margin-top: 0.8em;
}
.productCards__container__card__title__margin {
  margin-top: 0em;
}
.productCards__container__card__description {
  color: #000;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  text-align: left;
}
.productCards__container__trumpet_container {
  background-color: #55DFB4;
  position: relative;
  width: 100%;
  height: 13em;
  text-align: center;
  border: 1px solid #E8E9ED;
  border-radius: 0.3125rem;
  margin-bottom: 3em;
}
.productCards__container.last_one {
  margin-bottom: 0;
}
.productCards .trumpet {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1000px) {
  .productCards__container {
    margin: 5em 10%;
    padding: 2em 1em;
  }
  .productCards__container__card {
    display: flex;
    align-items: center;
    min-height: 17em;
    padding: 0 0 1.5em 0;
  }
  .productCards__container__card__description {
    font-size: 1.1rem;
  }
  .productCards__container__card__img_content {
    width: 50%;
    position: relative;
    transform: scale(1.5);
  }
  .productCards__container__card__img_content.two {
    position: relative;
    width: 60%;
    right: 4em;
    transform: scale(1.6);
  }
  .productCards__container__card__text_content {
    width: 50%;
  }
  .productCards__container__card__text_content.one {
    position: relative;
    bottom: 0.5em;
  }
  .productCards__container__card__text_content.two {
    position: relative;
    width: 40%;
  }
  .productCards__container__card__text_content.two h3 {
    max-width: 60%;
  }
  .productCards__container__card__text_content.two p {
    width: 100%;
  }
  .productCards__container__card__text_content.one::after {
    background-color: #FB3B64;
    bottom: -2.1em;
  }
  .productCards__container__card__text_content.two::after {
    background-color: #08A6E4;
    bottom: -2em;
  }
  .productCards__container__card__title__margin {
    width: 65%;
  }
  .productCards__container__card__text_content::after, .productCards__container__card.three::after {
    content: "";
    height: 0.3em;
    width: 16vw;
    position: absolute;
    left: 0;
  }
  .productCards__container__card.three::after {
    background-color: #55DFB4;
    bottom: 2.1em;
  }
  .productCards__container__card.one {
    flex-direction: row-reverse;
  }
  .productCards__container__trumpet_container {
    width: 50%;
    height: auto;
    margin-left: 4em;
    margin-bottom: 0;
  }
  .productCards__container__card.three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .productCards__container.last_one {
    margin: 0;
    width: 60%;
  }
  .productCards__full_container {
    display: flex;
    margin: 2em 10% 5em 10%;
  }
  .productCards .trumpet {
    top: 6em;
  }
}
.priceCards {
  text-align: center;
}
.priceCards__title {
  margin: 1.5em 0 0 0;
  color: #000;
  font-family: Raleway;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.priceCards__container {
  position: relative;
  display: inline-block;
  width: 78%;
  margin: 2.3em 3em;
  border: 2px solid #FB3B64;
  border-radius: 25px;
  padding: 1.5em 10%;
}
.priceCards__container.pink {
  margin-top: 1em;
}
.priceCards__container__rates, .priceCards__container__features {
  display: table-cell;
}
.priceCards__container__rates {
  vertical-align: middle;
  min-width: 43%;
}
.priceCards__container__rates h4 {
  color: #13253B;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.priceCards__container__rates__price {
  font-family: "Open Sans";
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
}
.priceCards__container__rates__text {
  color: #13253B;
  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.priceCards__container__rates__price.pink {
  color: #FB3B64;
}
.priceCards__container + .blue {
  border-color: #07ACE6;
}
.priceCards__container__rates__price.blue {
  color: #07ACE6;
}
.priceCards__container + .green {
  border-color: #55DFB4;
}
.priceCards__container__rates__price.green {
  color: #55DFB4;
}
.priceCards__container__button {
  position: absolute;
  bottom: -1.6em;
  left: 50%;
  transform: translateX(-50%);
  height: 3.125rem;
  width: 9.375rem;
  background: #EB476E;
}
.priceCards__container__button.blue {
  background-color: #07ACE6;
}
.priceCards__container__button.green {
  background-color: #55DFB4;
}
.priceCards__container__features {
  text-align: left;
  padding-left: 1.5em;
  line-height: 2.7em;
}
.priceCards__container__features__item--image, .priceCards__container__features__item--description {
  display: inline-block;
}
.priceCards__container__features__item--description {
  color: #000;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.priceCards__buttonsCurrency {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  height: 4em;
  border-radius: 8em;
  margin: 2.3em 10% 0 10%;
  border: 1px solid black;
  cursor: pointer;
}
.priceCards__buttonsCurrency__eur_container {
  opacity: 0.8;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
  width: 33%;
}
.priceCards__buttonsCurrency__usd_container, .priceCards__buttonsCurrency__gbp_container {
  opacity: 0.8;
  height: 100%;
  width: 33%;
}
.priceCards__buttonsCurrency__usd_container--usd, .priceCards__buttonsCurrency__eur_container--eur, .priceCards__buttonsCurrency__gbp_container--gbp {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.priceCards__buttonsCurrency__eur_container:hover, .priceCards__buttonsCurrency__usd_container:hover, .priceCards__buttonsCurrency__gbp_container:hover {
  opacity: 1;
  font-weight: bolder;
  font-size: larger;
}
.priceCards__buttonsCurrency__eur_container.selected, .priceCards__buttonsCurrency__usd_container.selected, .priceCards__buttonsCurrency__gbp_container.selected {
  opacity: 1;
  font-weight: bolder;
}
.priceCards__container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 485px) {
  .priceCards__container {
    margin: 2em 0rem;
    padding: 0.5em 5% 1.5em 5%;
  }
}
@media only screen and (max-width: 425px) {
  .priceCards__container__features {
    padding-left: 0.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .priceCards {
    padding-bottom: 3em;
  }
  .priceCards__title {
    margin-top: 3.5em;
    margin-bottom: 1em;
  }
  .priceCards__containers {
    display: flex;
  }
  .priceCards__container {
    width: 24%;
    padding: 2em 0 4.5em 0;
    transition: all 0.5s;
  }
  .priceCards__container__rates__price {
    padding-top: 0.3em;
  }
  .priceCards__container__features {
    padding-top: 3em;
    text-align: center;
    width: 100%;
    position: relative;
    left: -1em;
  }
  .priceCards__container:hover {
    transform: scale(1.1);
  }
  .priceCards__container.pink:hover {
    box-shadow: 0px 10px 14px 8px rgba(235, 71, 110, 0.29);
  }
  .priceCards__container.blue:hover {
    box-shadow: 0px 10px 14px 8px rgba(7, 172, 230, 0.29);
  }
  .priceCards__container.green:hover {
    box-shadow: 0px 10px 14px 8px rgba(85, 223, 180, 0.29);
  }
  .priceCards__container--content {
    display: flex;
    flex-direction: column;
    height: 23em;
  }
  .priceCards__buttonsCurrency {
    margin-top: 5em;
  }
}
.slider {
  margin: 5% auto 9% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__container {
  width: 100%;
  max-width: 640px;
  height: 460px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
}
.slider__container__slide {
  width: 100%;
  max-width: 640px;
  height: 350px;
  position: absolute;
  top: 12%;
  transition: all 0.5s;
}
.slider__container__prev, .slider__container__next {
  color: white;
  position: absolute;
  top: 45%;
  padding: 0.5em;
  border-radius: 10em;
  cursor: pointer;
}
.slider__container__prev {
  left: 0.5em;
}
.slider__container__next {
  right: 0.5em;
}
.slider__container__prev:hover, .slider__container__next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.slider__container__dots {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.slider__container__dots__dot {
  margin: auto 0.1em auto 0.1em;
  width: 0.8em;
  cursor: pointer;
  padding: 0.1em;
}
.slider__container__dots__dot:hover {
  transform: scale(1.5);
}
.slider__container__dots__dot.selected {
  transform: scale(1.5);
}

@media only screen and (max-width: 790px) {
  .slider__container {
    margin-top: 2.5em;
    max-width: 85%;
    max-height: 350px;
  }
  .slider__container__slide {
    max-height: 240px;
    top: 15%;
  }
}
.contactForm {
  margin: 3em 1.9em;
}
.contactForm__title {
  color: #000;
  font-family: Raleway;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contactForm__subtitle {
  color: #000;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 2.38rem;
}
.contactForm__phoneInfo--icon, .contactForm__emailInfo--icon, .contactForm__emailInfo--value, .contactForm__phoneInfo--value {
  display: inline-block;
  vertical-align: middle;
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
}
.contactForm__form {
  margin-top: 2.5em;
}
.contactForm__form__label {
  display: block;
  color: #08A6E4;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.205rem;
}
.contactForm__form__email, .contactForm__form__name {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #95989A;
  margin: 1.8em auto;
  padding: 0.8em;
}
.contactForm__form .input-invalid {
  border: 1px solid red;
  border-radius: 6px;
}
.contactForm__form__consent__checkbox.invalid {
  outline: 2px solid red;
}
.contactForm__form__consent {
  display: inline-flex;
  position: relative;
  gap: 0.6rem;
}
.contactForm__form__consent__checkbox {
  align-self: flex-start;
  position: relative;
  top: 0.1em;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 0.1rem solid rgba(112, 112, 112, 0.7);
  border-radius: 0.2rem;
}
.contactForm__form__consent input[type=checkbox]::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  clip-path: polygon(18% 49%, 41% 73%, 80% 20%, 86% 23%, 41% 85%, 13% 55%);
  transform: scale(0);
  background-color: #08A6E4;
}
.contactForm__form__consent input[type=checkbox]:checked::before {
  transform: scale(1);
}
.contactForm__form__consent input[type=checkbox]:checked::before:hover {
  color: black;
}
.contactForm__form__consent__text {
  color: #707070;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contactForm__form__button {
  display: block;
  width: 14.125rem;
  height: 3.5625rem;
  float: right;
  margin: 2.06em 0 2.75em 0;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
}

@media only screen and (min-width: 1000px) {
  .contactForm {
    display: flex;
    justify-content: space-between;
    margin: 5em 18% 0 18%;
    gap: 2em;
  }
  .contactForm__title {
    margin-bottom: 0.4em;
  }
  .contactForm__contact_info {
    display: flex;
    gap: 1em;
  }
  .contactForm__form {
    width: 50%;
    margin: 0;
  }
}
.footer {
  background: #f7f7f7;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  clear: both;
  text-align: justify;
  padding: 0 1.5em;
}
.footer__copyright, .footer__socialMedia {
  display: inline-block;
}
.footer__copyright__title {
  color: #08A6E4;
  font-family: Raleway;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.875rem;
  margin-top: 1.4rem;
}
.footer__copyright__subtitle {
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__socialMedia__facebook, .footer__socialMedia__twitter {
  position: relative;
  bottom: 0.5em;
}
.footer__socialMedia__facebook {
  margin-left: 0.6rem;
}
.footer:after {
  content: "";
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding: 0 10%;
  }
}
.modal__section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  z-index: 10;
  display: none;
  transition: display 0.1s;
  color: #000;
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__section__container {
  position: relative;
  width: 55%;
  height: 30%;
  background-color: #F7F7F7;
  top: 50%;
  left: 22%;
  transform: translateY(-50%);
  border-radius: 2em;
  padding-bottom: 16em;
}
.modal__section__container__title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
}
.modal__section__container__content--form {
  display: block;
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.modal__section__container__content--form .modal_email--label {
  color: #08A6E4;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.205rem;
}
.modal__section__container__content--form .modal_email--input {
  margin-left: 1em;
  width: 60%;
  border: none;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: Raleway;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1em;
  border-radius: 6px;
}
.modal__section__container__content--form .modal_email--input:hover {
  border-color: rgba(0, 0, 0, 0.4);
}
.modal__section__container__content--form .modal_email--input:focus {
  border-color: rgba(0, 0, 0, 0.4);
}
.modal__section__container__content--form .modal_email--input:hover.input-invalid,
.modal__section__container__content--form .modal_email--input:focus.input-invalid,
.modal__section__container__content--form .input-invalid {
  border: 1px solid red;
}

.modalExit {
  position: absolute;
  font-weight: bolder;
  top: 1em;
  right: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.modal--active {
  display: block;
}

.modal_submit {
  display: block;
  padding: 0.7em 1.6em;
  margin: 1em 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  .modal__section__container {
    width: 80%;
    left: 10%;
  }
  .modal__section__container__title {
    width: 80%;
  }
  .modal__section__container__content--form .modal_email--label {
    display: block;
  }
  .modal__section__container__content--form .modal_email--input {
    width: 80%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  border: none;
  border-radius: 2.5rem;
  background: #08A6E4;
  cursor: pointer;
}

.returnTop {
  position: relative;
  top: -0.8em;
  left: 2em;
  padding: 1em 1em;
}

/*# sourceMappingURL=styles.css.map */
