* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

.navbar {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}

.navbar__container {
    text-align: justify;
    margin: 1rem 1.5rem;
    height: 3rem;
}

.navbar__container:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.navbar__container--title,
.navbar__container--menu {
    display: inline-block;
    vertical-align: middle;
}

.navbar__container--title {
    color: #08A6E4;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.3125rem;
}

.intro {
    text-align: center;

    h3 {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 2.1875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4375rem;
        margin: 1rem 5rem;
    }

    button {
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem;
        border: none;
    }

    margin: 3.5rem auto 2rem auto;
}

button {
    width: 17rem;
    height: 3.9rem;
    border-radius: 2.5rem;
    background: #08A6E4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
    padding: 4.19px 19.4px;
}

.banner {
    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.1875rem;
        margin: 0.5rem 2rem
    }
}

.statsCards {

    .card__image {
        text-align: center;

        // .image--relative {
        //     position: relative;
        // }

        // .image--person {
        //     position: absolute;
        //     z-index: 1;
        // }

        // .image--eye {
        //     position: absolute;
        //     top: .7rem;
        //     right: 8.4rem;
        //     z-index: 1;
        // }

    }

    .card__number {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: bolder;
        line-height: 1.5rem;
        letter-spacing: 0.3725rem;
    }

    .card__description {
        color: #A5A5A5;
        text-align: center;
        font-family: Raleway;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
}

.productCards {

    background-color: #F7F7F7;
    ;
    padding: 0.5rem 1.2rem;

    .productCards__container {
        background-color: white;
        margin: 2.5rem auto;
        border-radius: 0.3125rem;
        border: 1px solid #E8E9ED;
        background: #FFF;
    }

    .productCards__container__card {
        margin: auto 1.5rem;
        padding: 2rem 0;

    }

    .card__image {
        text-align: center;
    }

    .image--front {
        position: relative;
    }

    .image--back {
        position: absolute;

    }

    .card__title {
        color: #000;
        font-family: Raleway;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1.2rem;
    }

    .card__description {
        color: #000;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3125rem;
    }

    .card__container {
        background-color: #55DFB4;
        position: relative;
        width: 100%;
        height: 200px;
        text-align: center;
        border: 1px solid #E8E9ED;
        border-radius: 0.3125rem;
    }

    .trumpet {
        position: absolute;
        bottom: -35px;
        left: .2rem;
    }
}

.priceCards {
    text-align: center;

    .priceCards__title {
        margin: 3.30rem 0 0 0;
        color: #000;
        font-family: Raleway;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .priceCards__container {
        display: inline-block;
        width: 85%;
        margin: 1rem 2rem;
        border: 2px solid #FB3B64;
        border-radius: 25px;
        padding: 1.5rem 10%;
    }

    .priceCards__container:nth-child(3) {
        border-color: #07ACE6;

        .priceCards__container__leftBox>.leftBox--price {
            color: #07ACE6
        }

    }

    .priceCards__container:nth-child(4) {
        border-color: #55DFB4;

        .priceCards__container__leftBox>.leftBox--price {
            color: #55DFB4
        }
    }

    .priceCards__container__leftBox,
    .priceCards__container__rigthBox {
        display: table-cell;
    }

    .priceCards__container__leftBox {
        vertical-align: middle;
        min-width: 43%;

        h4 {
            color: #13253B;
            font-family: Raleway;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
        }

        p {
            color: #FB3B64;
            font-family: "Open Sans";
            font-size: 2.875rem;
            font-style: normal;
            font-weight: 300;
            line-height: 4rem;
        }

        .leftBox--text {
            color: #13253B;
            font-family: Raleway;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .priceCards__container__rigthBox {
        text-align: left;
        padding-left: 1.5rem;
        line-height: 2.7rem;
    }

    .feature--image,
    .feature--description {
        display: inline-block;
    }

    .feature--description {
        color: #000;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width: 414px) {

    .priceCards {

        .priceCards__container {
            margin: 1rem 0rem;
            padding: 1.5rem 5%;
            // width: 90%;
        }

        .priceCards__container__rigthBox {
            // padding-left: 1%;
        }
    }

}

@media only screen and (max-width: 380px) {

    .priceCards {

        .priceCards__container {
            // margin: 1rem 0rem;
            // padding: 1.5rem 4%;
            width: 90%;
        }

        .priceCards__container__rigthBox {
            padding-left: .5rem;
        }
    }

}