* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.navbar {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}

.navbar__container {
  text-align: justify;
  margin: 1rem 1.5rem;
  height: 3rem;
}

.navbar__container:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.navbar__container--title,
.navbar__container--menu {
  display: inline-block;
  vertical-align: middle;
}

.navbar__container--title {
  color: #08A6E4;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.3125rem;
}

.intro {
  text-align: center;
  margin: 3.5rem auto 2rem auto;
}
.intro h3 {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.intro p {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  margin: 1rem 5rem;
}
.intro button {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  border: none;
}

button {
  width: 17rem;
  height: 3.9rem;
  border-radius: 2.5rem;
  background: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  padding: 4.19px 19.4px;
}

.banner img {
  width: 100%;
  object-fit: cover;
}
.banner p {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.1875rem;
  margin: 0.5rem 2rem;
}

.statsCards .card__image {
  text-align: center;
}
.statsCards .card__number {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.5rem;
  letter-spacing: 0.3725rem;
}
.statsCards .card__description {
  color: #A5A5A5;
  text-align: center;
  font-family: Raleway;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.productCards {
  background-color: #F7F7F7;
  padding: 0.5rem 1.2rem;
}
.productCards .productCards__container {
  background-color: white;
  margin: 2.5rem auto;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background: #FFF;
}
.productCards .productCards__container__card {
  margin: auto 1.5rem;
  padding: 2rem 0;
}
.productCards .card__image {
  text-align: center;
}
.productCards .image--front {
  position: relative;
}
.productCards .image--back {
  position: absolute;
}
.productCards .card__title {
  color: #000;
  font-family: Raleway;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.2rem;
}
.productCards .card__description {
  color: #000;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
}
.productCards .card__container {
  background-color: #55DFB4;
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  border: 1px solid #E8E9ED;
  border-radius: 0.3125rem;
}
.productCards .trumpet {
  position: absolute;
  bottom: -35px;
  left: 0.2rem;
}

.priceCards {
  text-align: center;
}
.priceCards .priceCards__title {
  margin: 3.3rem 0 0.88rem 0;
  color: #000;
  font-family: Raleway;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.priceCards .priceCards__container {
  display: inline-block;
  margin: auto 2rem;
  border: 2px solid #FB3B64;
  border-radius: 25px;
  padding: 1.5rem 10%;
}
.priceCards .priceCards__container__leftBox,
.priceCards .priceCards__container__rigthBox {
  display: table-cell;
}
.priceCards .priceCards__container__leftBox {
  vertical-align: middle;
}
.priceCards .priceCards__container__leftBox h4 {
  color: #13253B;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.priceCards .priceCards__container__leftBox p {
  color: #FB3B64;
  font-family: "Open Sans";
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
}
.priceCards .priceCards__container__rigthBox {
  text-align: left;
  padding-left: 3rem;
  line-height: 2.7rem;
}
.priceCards .feature--image,
.priceCards .feature--description {
  display: inline-block;
}
.priceCards .feature--description {
  color: #000;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 375px) {
  .priceCards .priceCards__container {
    margin: auto 2rem;
    padding: 1.5rem 8%;
  }
  .priceCards .priceCards__container__rigthBox {
    padding-left: 1rem;
    line-height: 2.7rem;
  }
}

/*# sourceMappingURL=styles.css.map */
