* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

.navbar {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}

.container {
    text-align: justify;
    margin: 1rem 1.5rem;
    height: 3rem;
}

.container:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.title,
.menu {
    display: inline-block;
    vertical-align: middle;
}

.title {
    color: #08A6E4;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.3125rem;
}

.opening {
    text-align: center;

    h3 {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 2.1875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4375rem;
        margin: 1rem 5rem;
    }

    button {
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem;
        border: none;
    }

    margin: 3.5rem auto 2rem auto;
}

button {
    width: 17rem;
    height: 3.9rem;
    border-radius: 2.5rem;
    background: #08A6E4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
    padding: 4.19px 19.4px;
}

.laptop {
    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.1875rem;
        margin: 0.5rem 2rem
    }
}

.card__image {
    text-align: center;

    .image--relative {
        position: relative;
    }

    .image--person {
        position: absolute;
        z-index: 1;
    }

    // .image--eye {
    //     position: absolute;
    //     top: .7rem;
    //     right: 8.4rem;
    //     z-index: 1;
    // }

}

.card__number {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.5rem;
    letter-spacing: 0.3725rem;
}

.card__description {
    color: #A5A5A5;
    text-align: center;
    font-family: Raleway;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.actions {
    // background-color: #F7F7F7;
    background-color: black;
    ;
    padding: 0.5rem 1.90rem;
}

.actions__container {
    background-color: white;
    margin: 2.6rem auto;
}

.actions__container__block {
    margin: auto 1.5rem;
    padding: 2rem 0;
}

.block__title {
    color: #000;
    font-family: Raleway;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.2rem;
}

.block__description {
    color: #000;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}