* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

.navbar {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
    padding-top: .6rem;
}

.navbar__container {
    text-align: justify;
    margin: 0rem 1.5rem;
    height: 3rem;
}

.navbar__container:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.navbar__container--title,
.navbar__container--menu {
    display: inline-block;
    vertical-align: middle;
}

.navbar__container--title {
    color: #08A6E4;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.3125rem;
}

.intro {
    text-align: center;

    h3 {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 2.1875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4375rem;
        margin: 1rem 5rem;
    }

    button {
        width: 17rem;
        height: 3.9rem;
        box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
        padding: 4.19px 19.4px;
    }

    margin: 3.5rem auto 2rem auto;
}

button {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
    border: none;
    border-radius: 2.5rem;
    background: #08A6E4;
}

.banner {
    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.1875rem;
        margin: 0.5rem 2rem
    }
}

.statsCards {
    text-align: center;

    .statsCards--card {
        margin: 1.56rem 0 3rem 0;
    }

    .card__image {
        position: relative;
        margin-bottom: 0.8rem;

        .image--person {
            position: absolute;
            left: 50%;
        }

        .image--eye {
            position: absolute;
            left: 50%;
            top: 0.8em;
        }

        .image--catalog {
            position: absolute;
            left: 50%;
            top: 10%
        }

    }

    .card__number {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: bolder;
        line-height: 1.5rem;
        letter-spacing: 0.3725rem;
        margin-bottom: 1.15rem;
    }

    .card__description {
        color: #A5A5A5;
        text-align: center;
        font-family: Raleway;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        width: 8rem;
        margin: auto 50%;
        transform: translateX(-50%);
    }
}

.productCards {
    background-color: #F7F7F7;
    padding: 0.5rem 1.2rem;

    .productCards__container {
        background-color: white;
        margin: 2.5rem auto;
        border-radius: 0.3125rem;
        border: 1px solid #E8E9ED;
        background: #FFF;
    }

    .productCards__container__card {
        margin: auto 1.5rem;
        padding: 2rem 0;
        text-align: center;
        position: relative;
    }

    .image--front--laptop {
        position: relative;
        z-index: 1;
    }

    .image--front--mobile {
        position: relative;
        left: 1.5rem;
        z-index: 1;
    }

    .image--back--pink {
        position: absolute;
        left: 50%;
        top: 0px;
    }

    .image--back--blue {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .card__title {
        color: #000;
        font-family: Raleway;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1.2rem;
        text-align: left;
        margin-top: 1.6rem;
    }

    .card__description {
        color: #000;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3125rem;
        text-align: left;
    }

    .card__container {
        background-color: #55DFB4;
        position: relative;
        width: 100%;
        height: 200px;
        text-align: center;
        border: 1px solid #E8E9ED;
        border-radius: 0.3125rem;
    }

    .trumpet {
        position: absolute;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
    }
}

.priceCards {
    text-align: center;

    .priceCards__title {
        margin: 3.30rem 0 0 0;
        color: #000;
        font-family: Raleway;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .priceCards__container {
        position: relative;
        display: inline-block;
        width: 85%;
        margin: 1rem 2rem;
        border: 2px solid #FB3B64;
        border-radius: 25px;
        padding: 1.5rem 10%;
    }

    .priceCards__container:nth-child(3) {
        border-color: #07ACE6;

        .priceCards__container__leftBox>.leftBox--price {
            color: #07ACE6
        }

    }

    .priceCards__container:nth-child(4) {
        border-color: #55DFB4;

        .priceCards__container__leftBox>.leftBox--price {
            color: #55DFB4
        }
    }

    .priceCards__container__button {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        height: 3.125rem;
        width: 9.375rem;
        background: #EB476E;
    }

    .priceCards__container__button.blue {
        background-color: #07ACE6;
    }

    .priceCards__container__button.green {
        background-color: #55DFB4;
    }

    .priceCards__container__leftBox,
    .priceCards__container__rigthBox {
        display: table-cell;
    }

    .priceCards__container__leftBox {
        vertical-align: middle;
        min-width: 43%;

        h4 {
            color: #13253B;
            font-family: Raleway;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
        }

        p {
            color: #FB3B64;
            font-family: "Open Sans";
            font-size: 2.875rem;
            font-style: normal;
            font-weight: 300;
            line-height: 4rem;
        }

        .leftBox--text {
            color: #13253B;
            font-family: Raleway;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .priceCards__container__rigthBox {
        text-align: left;
        padding-left: 1.5rem;
        line-height: 2.7rem;
    }

    .feature--image,
    .feature--description {
        display: inline-block;
    }

    .feature--description {
        color: #000;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.contactForm {
    margin: 3rem 1.9rem;

    .contactForm__title {
        color: #000;
        font-family: Raleway;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .contactForm__subtitle {
        color: #000;
        font-family: "Open Sans";
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem;
        margin-bottom: 2.38rem;
    }

    img,
    .emailInfo--value,
    .phoneInfo--value {
        display: inline-block;
        vertical-align: middle;
        color: #A5A5A5;
        font-family: "Open Sans";
        font-size: .9rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.375rem;
    }

    .contactForm__form {
        margin-top: 2.5rem;

        label {
            display: block;
            color: #08A6E4;
            font-family: "Open Sans";
            font-size: 0.6875rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.205rem;
        }

        #email,
        #name {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid #95989A;
            margin: 1.8rem auto;
        }

        .form--consent {
            display: inline-block;
        }

        .form--consent-text {
            display: inline-block;
            color: #707070;
            font-family: "Open Sans";
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        button {
            display: block;
            width: 14.125rem;
            height: 3.5625rem;
            float: right;
            margin: 2.06rem 0 2.75rem 0;
            box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
        }
    }

}

.footer {
    background: #F7F7F7;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.20);
    clear: both;
    text-align: justify;
    padding: 0 1.5rem;

    h2 {
        margin-top: 1.4rem;
    }

    .footer__copyright,
    .footer__socialMedia {
        display: inline-block;
        // vertical-align: middle;
    }

    .footer__copyright {
        h2 {
            color: #08A6E4;
            font-family: Raleway;
            font-size: 1.625rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.875rem;
        }

        p {
            color: #A5A5A5;
            font-family: "Open Sans";
            font-size: 0.6875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .footer__socialMedia>img {
        position: relative;
        bottom: 8px
    }

    .icon--facebook {
        margin-left: .6rem;
    }
}

.footer:after {
    content: "";
    display: inline-block;
    width: 100%;
}

@media only screen and (max-width: 414px) {

    .priceCards {

        .priceCards__container {
            margin: 1rem 0rem;
            padding: 1.5rem 5%;
        }
    }
}

@media only screen and (max-width: 380px) {

    .priceCards {

        .priceCards__container {
            width: 90%;
        }

        .priceCards__container__rigthBox {
            padding-left: .5rem;
        }
    }
}