.banner {
    &__image {
        height: 227px;
        width: 100%;
        object-fit: cover;
    }

    &__text {
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.1875rem;
        margin: 0.5rem 2rem
    }
}

@media only screen and (min-width: 1000px) {
    .banner {
        &__image {
            min-height: 550px;
        }

        &__text {
            margin-top: 2em;
            margin-bottom: 2.5em;
        }
    }
}