.modal__section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    z-index: 10;
    display: none;
    transition: display .1s;
    color: #000;
    font-family: Raleway;
    font-size: 1.5rem;
    font-weight: 700;

    &__container {
        position: relative;
        width: 55%;
        height: 30%;
        background-color: #F7F7F7;
        top: 50%;
        left: 22%;
        transform: translateY(-50%);
        border-radius: 2em;
        padding-bottom: 16em;

        &__content {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
        }

        &__content--form {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);

            &+input {
                width: 10%;
            }
        }
    }
}

.modalExit {
    position: absolute;
    font-weight: bolder;
    top: 1em;
    right: 1em;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.modal--active {
    display: block;
}

.modal_submit {
    display: block;
    padding: .7em 1.6em;
    margin: 1em 50%;
    transform: translateX(-50%);
}