.priceCards {
    text-align: center;

    &__title {
        margin: 1.5em 0 0 0;
        color: #000;
        font-family: Raleway;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__container {
        position: relative;
        display: inline-block;
        width: 78%;
        margin: 2.3em 3em;
        border: 2px solid #FB3B64;
        border-radius: 25px;
        padding: 1.5em 10%;

        &.pink {
            margin-top: 1em;
        }

        &__rates,
        &__features {
            display: table-cell;
        }

        &__rates {
            vertical-align: middle;
            min-width: 43%;

            h4 {
                color: #13253B;
                font-family: Raleway;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
            }

            &__price {
                font-family: "Open Sans";
                font-size: 2.875rem;
                font-style: normal;
                font-weight: 300;
                line-height: 4rem;
            }

            &__text {
                color: #13253B;
                font-family: Raleway;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        &__rates__price.pink {
            color: #FB3B64;
        }

        +.blue {
            border-color: #07ACE6;
        }

        &__rates__price.blue {
            color: #07ACE6
        }

        +.green {
            border-color: #55DFB4;
        }

        &__rates__price.green {
            color: #55DFB4
        }

        &__button {
            position: absolute;
            bottom: -1.6em;
            left: 50%;
            transform: translateX(-50%);
            height: 3.125rem;
            width: 9.375rem;
            background: #EB476E;
        }

        &__button.blue {
            background-color: #07ACE6;
        }

        &__button.green {
            background-color: #55DFB4;
        }

        &__features {
            text-align: left;
            padding-left: 1.5em;
            line-height: 2.7em;

            &__item--image,
            &__item--description {
                display: inline-block;
            }

            &__item--description {
                color: #000;
                font-family: "Open Sans";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }

    &__buttonsCurrency {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f7f7f7;
        height: 4em;
        border-radius: 8em;
        margin: 2.3em 10% 0 10%;
        border: 1px solid black;
        cursor: pointer;

        &__eur_container {
            opacity: .8;
            border-left: 1px solid black;
            border-right: 1px solid black;
            height: 100%;
            width: 33%;
        }

        &__usd_container,
        &__gbp_container {
            opacity: .8;
            height: 100%;
            width: 33%;
        }

        &__usd_container--usd,
        &__eur_container--eur,
        &__gbp_container--gbp {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

        }

        &__eur_container:hover,
        &__usd_container:hover,
        &__gbp_container:hover {
            opacity: 1;
            font-weight: bolder;
            font-size: larger;
        }

        &__eur_container.selected,
        &__usd_container.selected,
        &__gbp_container.selected {
            opacity: 1;
            font-weight: bolder;
        }
    }

    &__container--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 485px) {

    .priceCards {

        &__container {
            margin: 2em 0rem;
            padding: .5em 5% 1.5em 5%;
        }
    }
}

@media only screen and (max-width: 425px) {

    .priceCards {

        &__container {

            &__features {
                padding-left: .5em;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .priceCards {
        padding-bottom: 3em;

        &__title {
            margin-top: 3.5em;
            margin-bottom: 1em;
        }

        &__containers {
            display: flex;
        }

        &__container {
            width: 24%;
            padding: 2em 0 4.5em 0;
            transition: all .5s;

            &__rates {
                &__price {
                    padding-top: .3em;
                }
            }

            &__features {
                padding-top: 3em;
                text-align: center;
                width: 100%;
                position: relative;
                left: -1em;
            }
        }

        &__container:hover {
            transform: scale(1.1);
        }

        &__container.pink:hover {
            box-shadow: 0px 10px 14px 8px rgb(235, 71, 110, 0.29);
        }

        &__container.blue:hover {
            box-shadow: 0px 10px 14px 8px rgb(7, 172, 230, 0.29);
        }

        &__container.green:hover {
            box-shadow: 0px 10px 14px 8px rgb(85, 223, 180, 0.29);
        }


        &__container--content {
            display: flex;
            flex-direction: column;
            height: 23em;
        }

        &__buttonsCurrency {
            margin-top: 5em;
        }
    }
}