.productCards {
    background-color: #F7F7F7;
    padding: 0.5em 1.2em;

    &__container {
        background-color: white;
        margin: 2.5em auto;
        border-radius: 0.3125rem;
        border: 1px solid #E8E9ED;
        background: #FFF;

        &__card {
            margin: auto 1.5rem;
            padding: 1.5em 0;
            text-align: center;
            position: relative;

            &__image--laptop {
                position: relative;
                top: 2em;
                z-index: 1;
                margin-bottom: 1.5em;
            }

            &__image--mobile {
                position: relative;
                left: 1.5rem;
                z-index: 1;
            }

            &__image--pink {
                position: absolute;
                left: 50%;
                top: 0em;
            }

            &__image--blue {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            &__title {
                color: #000;
                font-family: Raleway;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 1rem;
                text-align: left;
                margin-top: .8em;

                &__margin {
                    margin-top: 0em;
                }
            }

            &__description {
                color: #000;
                font-family: "Open Sans";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.3125rem;
                text-align: left;
            }
        }

        &__trumpet_container {
            background-color: #55DFB4;
            position: relative;
            width: 100%;
            height: 13em;
            text-align: center;
            border: 1px solid #E8E9ED;
            border-radius: 0.3125rem;
            margin-bottom: 3em;
        }
    }

    &__container.last_one {
        margin-bottom: 0;
    }

    .trumpet {
        position: absolute;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 1000px) {
    .productCards {

        &__container {
            margin: 5em 10%;
            padding: 2em 1em;

            &__card {
                display: flex;
                align-items: center;
                min-height: 17em;
                padding: 0 0 1.5em 0;

                &__description {
                    font-size: 1.1rem;
                }

                &__img_content {
                    width: 50%;
                    position: relative;
                    transform: scale(1.5);
                }

                &__img_content.two {
                    position: relative;
                    width: 60%;
                    right: 4em;
                    transform: scale(1.6);
                }

                &__text_content {
                    width: 50%;
                }

                &__text_content.one {
                    position: relative;
                    bottom: .5em;
                }

                &__text_content.two {
                    position: relative;
                    width: 40%;

                    h3 {
                        max-width: 60%;
                    }

                    p {
                        width: 100%;
                    }
                }

                &__text_content.one::after {
                    background-color: #FB3B64;
                    bottom: -2.1em;
                }

                &__text_content.two::after {
                    background-color: #08A6E4;
                    bottom: -1.7em;
                }

                &__title__margin {
                    width: 65%;
                }
            }

            &__card__text_content::after,
            &__card.three::after {
                content: "";
                height: .3em;
                width: 16vw;
                position: absolute;
                left: 0;
            }

            &__card.three::after {
                background-color: #55DFB4;
                bottom: .5em;
            }

            &__card.one {
                flex-direction: row-reverse;
            }

            &__trumpet_container {
                width: 50%;
                height: auto;
                margin-left: 4em;
                margin-bottom: 0;
            }

            &__card.three {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
        }

        &__container.last_one {
            margin: 0;
            width: 60%;
        }

        &__full_container {
            display: flex;
            margin: 2em 10% 5em 10%;
        }

        .trumpet {
            top: 6em;
        }
    }

}