.statsCards {
    text-align: center;

    &__card {
        margin: 1.56em 0 3em 0;

        &__image {
            position: relative;
            margin-bottom: 0.8rem;
        }

        &__image--person {
            position: absolute;
            left: 50%;
        }

        &__image--eye {
            position: absolute;
            left: 50%;
            top: 0.8em;
        }

        &__image--catalog {
            position: absolute;
            left: 50%;
            top: 10%
        }

        &__number {
            color: #000;
            text-align: center;
            font-family: Raleway;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: bolder;
            line-height: 1.5rem;
            letter-spacing: 0.3725rem;
            margin-bottom: 1.15rem;
        }

        &__description {
            color: #A5A5A5;
            text-align: center;
            font-family: Raleway;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            width: 7em;
            margin: auto 50%;
            transform: translateX(-50%);
        }
    }
}

@media only screen and (min-width: 885px) {
    .statsCards {
        display: flex;
        margin: auto 15%;
        justify-content: space-evenly;
        margin-bottom: 5em;
    }
}